hr.breadcrumbs-divider { 
  height: 12px; 
  border: 0; 
  box-shadow: inset 0 5px 5px -5px rgba(52, 152, 219,1.0); 
  margin: 0 0 20px 0;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  font-family: "Lato", sans-serif;
  content: ">";
}

.custom-breadcrumb {
  margin-bottom: 0px;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  border-bottom: 1px solid #777;
  border-radius: 0;
  /* background-color: #F2F2F2; */
}

.course-image {
  
}

.course-details {
  /* padding-left: 25px; */
}

.course-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 42px;
  line-height: 1.4em;
  margin-top: 0;
}

.topic-name a {
  color: $primary-red;
  font-size: 16px;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  
}

.course-description, .unit-description {
  color: #64686A;
  margin-top: 20px;
  line-height: 1.8;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

#start-course {
  border: 4px solid #5f6c6d;
  border-radius: 0;
  padding: 5px 31px;
  color: #5f6c6d;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
  margin: 35px auto 20px;
  &:hover {
    background: #5f6c6d none repeat scroll 0% 0%;
    color: #FFF;
  }
}

/* Start list */

.list-square{
	margin:0 0 30px;
	padding:0;
}

.list-square.space-top{
	margin:24px 0 0;
}

.list-square li{
	margin-bottom:17px;
	padding-left:20px;
	position:relative;
	color:#64686a;
  list-style: outside none none;
}

.list-square li:after{
	content:"\f04d";
	font-family:'FontAwesome';
	font-size:9px;
	font-style:normal;
	left:0px;
	top:6px;
	position:absolute;
  color: $primary-red;
  background-color: $primary-red;
}

.list-square li{
	margin-bottom:17px;
	padding-left:20px;
	position:relative;
	color:#64686a;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

/* End list */




/* Start Unit */

.unit-body {
  padding: 20px;
}

.unit-heading {
  
  font-size: 25px;
  color: $primary-red;
  font-weight: 600;
}

.unit-tile {
  font-family: 'Lato';
  background-color: #FFF; 
  margin-bottom: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.unit-block {
  background-color: #95a5a6;
  min-height: 200px;
  min-width: 200px;
  padding: 5px 20px;
  /* &.01 {
    background-color: #95a5a6;
  }
  &.02 {
    background-color: #e74c3c;
  }
  */
  .unit-text {
    color: rgb(255, 255, 255); 
    font-size: 28px; 
    text-shadow: 5px 4px 7px rgb(150, 150, 150); 
    margin-bottom: -25px;
    margin-top: 20px;
    font-weight: 600
  }
  .unit-number {
    color: rgb(255, 255, 255); 
    font-size: 95px; 
    text-shadow: 5px 4px 7px rgb(150, 150, 150); 
  }
}


/* End Unit */