<div class="container">
	<div class="row" style="margin-top: 50px;">
		<div class="col-xs-12 col-sm-6 course-image">
			<img class="img-responsive" alt="Course Image" ng-src="{{::course.info.imageUrl}}" />
		</div>
		<div class="col-xs-12 col-sm-6 course-details">
			<h1 class="course-title" itemprop="title" ng-bind="::course.info.name"></h1>
			<span class="topic-name">
				<a href="#" ng-bind="::course.info.topicName" ng-href="/courses?tag={{::course.info.topicName}}"></a>
			</span>
			<p class="course-description" ng-bind="::course.info.desc"></p>
			<a id="start-course" class="btn" href="#">Start Course</a>
			<p class="course-description">This course covers:</p>
			<ul class="list-square fa-ul">
				<li ng-repeat="objective in ::course.info.objectives"><i class="fa-li fa fa-check-square" style="color: #27ae60;"></i>{{::objective}}</li>
			</ul>
		</div>
	</div>
	<hr/>
	<ol class="breadcrumb custom-breadcrumb">
		<li>
			<a href="/topics">Topics</a>
		</li>
		<li>
			<a href="#" ng-bind="::course.info.topicName" ng-href="/courses?tag={{::course.info.topicName}}"></a>
		</li>
	</ol>
	<hr class="breadcrumbs-divider" />
	
	<div class="row" ng-repeat="unit in ::course.info.units">
		<a href="#">
		<div class="media unit-tile">
			<div class="media-left unit-block" ng-class="unit.slNo">
				<p class="unit-text text-center"> UNIT</p> 
			  	<p class="unit-number text-center" ng-bind="::unit.unitNumber"></p>  
			</div>
			<div class="media-body unit-body">
				<h4 class="media-heading unit-heading" ng-bind="::unit.unitName"></h4> <!-- TODO -->
				<p class="unit-description" ng-bind="::unit.unitDescription">
					
				</p>
				
				</div>
		</div>
		</a>
	</div>
	
	<!-- <div class="row">
		<div class="media" style="font-family: 'Lato';background-color: #FFF; margin-bottom: 20px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);">
			<div class="media-left">
				<div style="background-color: #e74c3c; min-height: 200px;min-width: 200px;padding: 5px 20px;">
					<p style="color: rgb(255, 255, 255); font-size: 28px; text-shadow: 5px 4px 7px rgb(150, 150, 150); margin-bottom: -25px;margin-top: 20px;font-weight: 600"
					" class="text-center "> UNIT</p> 
		  <p class="text-center " style="color: rgb(255, 255, 255); font-size: 95px; text-shadow: 5px 4px 7px rgb(150, 150, 150); "> 02</p>  
      </div>
    
			</div>
			<div class="media-body unit-body ">
				<h4 class="media-heading unit-heading ">Media heading</h4>
				<p class="unit-description ">
					This course introduces you to SOAP Web Services using the JAX-WS standard specification. You will learn what SOAP web services
				are and how to write them. You will be writing a web service application, deploying, running and testing it on Glassfish.
				You will also learn to consume SOAP web services.
					
				</p>
				
				</div>
		</div>
	</div>
	
	
	<div class="row ">
		<div class="media " style="font-family: 'Lato';background-color: #FFF; margin-bottom: 20px;box-shadow: 0px 1px 1px rgba(0,
					0, 0, 0.3); ">
			<div class="media-left ">
				<div style="background-color: #3498db; min-height: 200px;min-width: 200px;padding: 5px 20px; ">
					<p style="color: rgb(255, 255, 255); font-size: 28px; text-shadow: 5px 4px 7px rgb(150, 150, 150); margin-bottom:
					-25px;margin-top: 20px;font-weight: 600 "
					" class="text-center ">UNIT</p>
					<p class="text-center " style="color: rgb(255, 255, 255); font-size: 95px; text-shadow: 5px 4px 7px rgb(150, 150, 150); ">03</p>
				</div>
			</div>
			<div class="media-body unit-body">
				<h4 class="media-heading unit-heading">Media heading</h4>
				<p class="unit-description">This course introduces you to SOAP Web Services using the JAX-WS standard specification. You will learn what SOAP web services
					are and how to write them. You will be writing a web service application, deploying, running and testing it on Glassfish.
					You will also learn to consume SOAP web services.</p>
			</div>
		</div>
	</div>
	
	
	-->
	<!-- <div class="row ">
		<ul class="cbp_tmtimeline ">
			<li>
				<div class="cbp_tmtime ">
					<span style="font-size: 20px; ">Unit</span>
					<span>1</span>
				</div>
				<div class="cbp_tmicon cbp_tmicon-screen "></div>
				<div class="cbp_tmlabel ">
					<h2>Unit 1</h2>
					<p>This unit introduces you to web services. You'll learn some of the terminologies. You'll also build a simple client program
						that consumes an existing web service.</p>
					 <ul class="list-group ">
    <li class="list-group-item ">Cras justo odio</li>
    <li class="list-group-item ">Dapibus ac facilisis in</li>
    <li class="list-group-item ">Morbi leo risus</li>
    <li class="list-group-item ">Porta ac consectetur ac</li>
    <li class="list-group-item ">Vestibulum at eros</li>
  </ul>
				</div>
			</li>
			<li>
				<div class="cbp_tmtime ">
					<span>Unit</span>
					<span>2</span>
				</div>
				<div class="cbp_tmicon cbp_tmicon-screen "></div>
				<div class="cbp_tmlabel ">
					<h2>Unit 2</h2>
					<p>In this unit, you'll setup your development environment to build JAX-WS web services. You'll also write a web service and
						learn how to customize the WSDL, schema, write custom types, annotations and bind to XML using JAXB.</p>
					
				</div>
			</li>
			<li>
				<div class="cbp_tmtime ">
					<span>Unit</span>
					<span>3</span>
				</div>
				<div class="cbp_tmicon cbp_tmicon-screen "></div>
				<div class="cbp_tmlabel ">
					<h2>Unit 3</h2>
					<p>In this unit, you'll learn about some of the tools that let you work with SOAP web services. You'll also revisit the wsimport
						utility and learn what it does.</p>
				</div>
			</li>
		</ul>
	</div> --></div>