<div class="container">
	<div class="quiz flex-row">
      <ol class="lesson-quiz-tabs flex-column flex-row-md">
  		  <li class="quiz-tab col-grow-shrink flex-center" ng-repeat="q in ctrl.quiz.questions" id="quiz-question-tab-{{$index+1}}" ng-class="{'active' : (ctrl.activeQuestionIndex === $index),
                'correct': ctrl.isAnswerCorrect(q),
                'incorrect': ctrl.isAnswerIncorrect(q),}" ng-click="ctrl.activateQuestion($index)">
            <span class="question-number-text">{{ $index + 1 }}</span>
            <svg class="correct-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path></svg>
            <svg class="incorrect-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
          </li>
      </ol>
      <div class="yt-quiz-tabs pad-horizontal-long pad-top-long col-4-12 col-md-1">
        <h2 class="yt-quiz-title gutter-bottom-heading">Check your knowledge</h2>
        <div class="yt-quiz-question-text-list">
          <div class="yt-quiz-question-text yt-card-text" 
                ng-repeat="question in ctrl.quiz.questions" 
                ng-bind="question.description" 
                yt-translate-x="(-(ctrl.activeQuestionIndex * 100)) + '%'">
                  How can a strong visual style help you build a fan following?
            </div>
        </div>
        
       
      </div>
      
      
      
      
      
      <div class="yt-quiz-question-list separator-left">
        
        <div ng-repeat="question in ctrl.quiz.questions" class="yt-quiz-question" yt-translate-x="(-(ctrl.activeQuestionIndex * 100)) + '%'" ng-init="outer = $index">
            <div ng-repeat="answer in question.answers" class="pad-bottom-short">
                <input class="combo" id="q{{outer}}a{{$index}}"  type="radio" ng-model="ctrl.userData.quizAnswers[question.id]" value="{{$index}}">
                <label class="combo" for="q{{outer}}a{{$index}}">{{answer.content}}</label><br/>
                
            </div>
            <div ng-show="ctrl.isAnswerCorrect(question)">
              <strong class="yt-quiz-correct-title">{{ question.correctAnswerMainTitle }}</strong>
		      <div class="yt-quiz-correct-description">{{ question.correctAnswerDescription }}</div>
            </div>
            <div ng-show="ctrl.isAnswerIncorrect(question)"> 
                <strong class="yt-quiz-incorrect-title">{{ question.incorrectAnswerMainTitle }}</strong>
				<div class="yt-quiz-incorrect-description">{{ question.incorrectAnswerDescription }}</div>
			</div>
            
        </div>
        
      </div>
      
      
      
      
      
      
      
      
      
	</div>

	
	
	
	<div class="quiz">
		<h1>Quiz</h1>
	</div>
</div>