
.manuscript {
	max-width: 35em;
	margin: auto;
	font-family: "Lora", serif;
	font-size: 20px;
	h1, h2, h3 {
		color: 	$primary-red;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
	}
}
