<div class="navbar navbar-default custom-navbar" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" ng-if="vm.currentUrl !== '/'">
      <span style="font-family: 'Monaco';">java<span style="color: #333333"  >Brains</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li 
          ng-class= "{'active' : vm.isTopicsUrl}">
          <a href="/topics">TOPICS</a>
        </li>
        <li
          ng-class= "{'active' : vm.isCoursesUrl}">
          <a href="/courses">COURSES</a>
        </li>
        <li
          ng-class= "{'active' : vm.isAboutUrl}">
          <a href="#">ABOUT</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
