/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/* Variables */

$primary-color: #333;
$alt-text-color: #666;
$plain-background: #F7F7F7;
/* $primary-red: #C0392B; */
$primary-red: #B41734;

$unit1-dark: #3498DB;
$unit1-light: #71B7E6;

$unit2-dark: #16a085;
$unit2-light: #45B39D;

$unit3-dark: #e74c3c;
$unit3-light: #EC7063;

$unit4-dark: #34495e;
$unit4-light: #71808E;




html {
   height: 100%;
   min-width: 1000px;
}

body {
  border: 10px solid rgba(0, 0, 0, 0.8);  
  font-family: 'Josefin Sans', sans-serif;  
  font-weight: 400;
  min-height: 100%;
  color: $primary-color;
  background-color: $plain-background;
  
}

@media (max-width: 600px) {
  body {min-width:1000px;}
}

a {
  text-decoration: none !important;
}
a:focus{
    outline:0; /*removes the dotted border*/
}

/* Start checkbox */
input {
  position: absolute;
  left: -9999px;
}

label.combo, label.check  {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0px;
  padding: 5px 30px 5px 38px;
  border: 3px solid $plain-background;
  border-radius: 100px;
  color: #333333;
  background-color: $plain-background;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  /* transition: background-color .2s, box-shadow .2s; */
}

label.combo::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 16px;
  width: 16px;
  border: 2px solid #3498db;
  border-radius: 100px;
  transition: background-color .2s; 
}

label.check::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 16px;
  width: 16px;
  border: 2px solid #3498db;
  border-radius: 0px;
  /* transition: background-color .2s; */
}

label.combo:hover, input.combo:focus + label.combo,
label.check:hover, input.check:focus + label.check {
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .6); */
}

input.combo:checked + label.combo {
  /* color: #C0392B; */
}



input.combo:checked + label.combo::before,
input.check:checked + label.check::before {
  background-color: #34495e;
}

/* End checkbox */


/* Start bootstrap overrides */

.container {
	/*padding-right: 15px;
	 padding-left: 15px;*/
	margin-right: auto;
	margin-left: auto
}
@media (min-width: 768px) {
	.container {
		width: 750px
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px
	}
}

@media (min-width: 1350px) {
	.container {
		width: 1320px
	}
}


/* End bootstrap overrides */

/* Start common across pages */

.page-header {
  color: $primary-red;
  font-size: 53px;
  font-weight: 700;
  @media (max-width: 1600px) {
    margin-top: 20px;
  }
}

ul.pagination {
  color: #333333;
  font-family: "Lato", sans-serif;
  .active .a {
    background-color: #333;
    border-color: #333;
  }
}

.underline {
  border-bottom: 1px solid #CCCCCC;
}

.link-subtitle a {
  color: $primary-red;
  font-size: 16px;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  
}

.padded {
  padding: 20px;
}

.clickable {
  cursor: pointer;
}

/* End common across pages */

/* Footer */
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social a {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social a:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}

.social .fa-youtube:hover { /* round youtube icon*/
    background: #FF1F25;
}

footer {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #999;
  padding: 20px;
}

.connect {
  
  margin-left: 15px;
}

/* Footer */



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
