.cbp_tmtimeline{
	margin:30px 0 0 0;
	padding:0;
	list-style:none;
	position:relative;
	font-family: "Lato", sans-serif;
	font-size: 17px;
}

.cbp_tmtimeline:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:10px;
	background:#B9B9B9;
	left:20%;
	margin-left:-10px;
}

.cbp_tmtimeline>li{
	position:relative;
}

.cbp_tmtimeline>li .cbp_tmtime{
	display:block;
	width:25%;
	padding-right:100px;
	position:absolute;
}

.cbp_tmtimeline>li .cbp_tmtime span{
	display:block;
	text-align:right;
}

.cbp_tmtimeline>li .cbp_tmtime span:first-child{
	font-size:0.9em;
	color:#bdd0db;
}

.cbp_tmtimeline>li .cbp_tmtime span:last-child{
	font-size:2.9em;
	color:#373737;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmtime span:last-child{
	color:#747474;
}

.cbp_tmtimeline>li .cbp_tmlabel{
	margin:0 0 15px 25%;
	background:#FFF;
	color:$primary-color;
	padding: 1em 2em;
	font-size:17px;
	font-weight:300;
	line-height:1.4;
	position:relative;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

  	border-bottom: 1px #3498db solid;
  
	border-radius:0px;
	
	p {
		color: #64686A;
		line-height: 1.8;
		font-family: "Lato",sans-serif;
		font-size: 17px;
	}
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel{
	background:#FFF;
}

.cbp_tmtimeline>li .cbp_tmlabel h2{
	margin-top:0px;
	padding:0 0 10px 0;
	border-bottom:1px solid rgba(255,255,255,0.4);
	font-family: "Josefin Sans", sans-serif;
	color: $primary-red;
}

.cbp_tmtimeline>li .cbp_tmlabel:after{
	right:100%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	border-right-color:#BBBBBB;
	border-width:10px;
	top:10px;
}

.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after{
	border-right-color:#BBBBBB;
}

.cbp_tmtimeline>li .cbp_tmicon{
	width:40px;
	height:40px;
	font-family:FontAwesome;
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	font-size:1.4em;
	line-height:40px;
	-webkit-font-smoothing:antialiased;
	position:absolute;
	color:#fff;
	background:#6C6C6C;
	border-radius:50%;
	box-shadow:0 0 0 8px #373737;
	text-align:center;
	left:20%;
	top:0;
	margin:0 0 0 -25px;
}

.cbp_tmicon-phone:before{
	content:"\f04b";
}

.cbp_tmicon-screen:before{
	content:">";
}

.cbp_tmicon-mail:before{
	content:"\f04b";
}

.cbp_tmicon-earth:before{
	content:"\f04b";
}

@media screen and (max-width: 65.375em) {
	.cbp_tmtimeline>li .cbp_tmtime span:last-child{
		font-size:1.5em;
	}

}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before{
		display:none;
	}

	.cbp_tmtimeline>li .cbp_tmtime{
		width:100%;
		position:relative;
		padding:0 0 20px 0;
	}

	.cbp_tmtimeline>li .cbp_tmtime span{
		text-align:left;
	}

	.cbp_tmtimeline>li .cbp_tmlabel{
		margin:0 0 30px 0;
		padding:1em;
		font-weight:400;
		font-size:95%;
	}

	.cbp_tmtimeline>li .cbp_tmlabel:after{
		right:auto;
		left:20px;
		border-right-color:transparent;
		border-bottom-color:#373737;
		top:-20px;
	}

	.cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after{
		border-right-color:transparent;
		border-bottom-color:#747474;
	}

	.cbp_tmtimeline>li .cbp_tmicon{
		position:relative;
		float:right;
		left:auto;
		margin:-55px 5px 0 0px;
	}

}

.cbp_tmlabel>p{
	color:$primary-color;
}

.cbp_tmlabel .list-group-item p{
	margin-bottom:17px;
}
