.lesson-menu {
    background-color: #3498DB;
    color: #FFF;
    padding-bottom: 20px;
    overflow: scroll;
    min-height: 50%;
/*    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    & .ng-enter {
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
*/
}
/*
.lesson-menu.ng-enter, .lesson-menu.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.lesson-menu.ng-enter,
.lesson-menu.ng-leave.ng-leave-active {
  opacity:0;
}

.lesson-menu.ng-leave,
.lesson-menu.ng-enter.ng-enter-active {
  opacity:1;
}
*/
/*
.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active, .fadeout.ng-leave {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active, .fadeout.ng-enter {
  opacity: 1;
  display: block !important;
}

*/

.lessons-container {
    margin-top: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    // justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    
    
    
    }

.lesson-item {
    // -webkit-order: 0;
    // -ms-flex-order: 0;
    // order: 0;
    -webkit-flex: 0 1 33%;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border: 1px solid white;
    background-color: #71B7E6; 
    color: #FFF;
    border-radius: 0 !important;
    width: 30px;
    height: 120px;
    
    
    }
    
.lesson-menu.unit1 {
		background-color: $unit1-dark;
        .lesson-item {
            background-color: $unit1-light;
            &.done {
                background-color: $unit1-dark;  
            }
        }
		
	}
	
	.lesson-menu.unit2 {
		background-color: $unit2-dark;
        .lesson-item {
            background-color: $unit2-light;
            &.done {
                background-color: $unit2-dark;
            }
        }
		
	}
	
	.lesson-menu.unit3 {
		background-color: $unit3-dark;
        .lesson-item {
            background-color: $unit3-light;
            &.done {
                background-color: $unit3-dark;  
            }
        }
		
	} 
    
    .lesson-menu.unit4 {
		background-color: $unit4-dark;
        .lesson-item {
            background-color: $unit4-light;
            &.done {
                background-color: $unit4-dark;  
            }
        }
		
	}      

.lesson-list {
    margin-top: 20px;
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 16px;
  li {
    padding-bottom: 10px;    
  }
  a {
      color: #FFF;
  }
  height: 200px;
  
  
}


// Overrides for carousel

.carousel-control.left, .carousel-control.right {
    background: none;
    cursor: pointer;
    
}