.video-frame {
	
	@include desktop-large {
		width: 58%;
	}
	@include desktop-xlarge {
		width: 70.33333%;
	}
	
	.embed {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	}
}

	

.lesson-details {
	margin-top: 20px; 
	@include desktop-large {
		margin-top: 50px;
	}
	@include desktop-xlarge {
		margin-top: 100px;
	}
	font-family: 'Lato';
	width:100%;
	position: relative;
   	height:150px;   /* Height of the footer */
	.head-row {
			
	}
	
}


.video-block {
	background-color: blue;
	
}

.affix {
	position: fixed;
	top: 0; left: 0; right: 0;
}
