.video-frame {
	
	@include desktop-large {
		width: 58%;
	}
	@include desktop-xlarge {
		width: 70.33333%;
	}
	
	.embed {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	}
}



.video-block {
	background-color: blue;
	
}

.affix {
	position: fixed;
	top: 0; left: 0; right: 0;
}
